{% include 'header.html' %}
<div class="container"><br>
    <h3>Modificar Reservas</h3>
    <hr>
    <div class="container"><br>
        <form action="/actualizareserva" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-6">
                    <label for="numero"><b>Id Reserva</b></label>
                    <input readonly value="{{reser[0]}}" class="form-control" type="number" name="numero">
                    {{mensaje}}
                    <br>
                    <label for="idcliente"><b>Id Cliente</b></label>
                    <input value="{{reser[1]}}" class="form-control" type="text" name="idcliente">
                    <br>
                    <label for="idhabitacion"><b>Habitación</b></label>
                    <input value="{{reser[2]}}" class="form-control" type="text" name="idhabitacion">
                    <br>
                    </div>
                    <div class="col-6">
                    <label for="fecha_inicio"><b>Fecha Llegada</b></label>
                    <input required value="{{reser[3]}}" class="form-control" type="text" name="fecha_inicio">
                    <br>
                    <label for="fecha_final"><b>Fecha Salida</b></label>
                    <input required value="{{reser[4]}}" class="form-control" type="text" name="fecha_final">
                    <br>
                    <label for="cant_personas"><b>Acompañantes</b></label>
                    <input required value="{{reser[5]}}" class="form-control" type="number"\ name="cant_personas">
                    <br><br>
                    <input type="submit" class="btn btn-success" class="bi bi-arrow-left" value="Guardar">
                    <a href="/reservas" class="btn btn-primary"> Regresar</a>
                </div>
        </form>
    </div><br>