{% include 'header.html' %}
<div class="container"><br>
    <h3>Buscar Clientes</h3>
    <hr>
    {% if (miData) %}
    <div class="alert alert-success" role="alert">
        <strong>Exito!</strong> Hay resultados para la búsqueda.
    </div>

    {{mensaje}}
    <table class="table table-sm">
        <thead class="table-dark">
            <tr>
                <th>Id cliente</th>
                <th>Nombre</th>
                <th>Nacionalidad</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Fecha Nacimiento</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in miData %}
            <tr>
                <td>{{cliente[0]}}</td>
                <td>{{cliente[1]}}</td>
                <td>{{cliente[2]}}</td>
                <td>{{cliente[3]}}</td>
                <td>{{cliente[4]}}</td>
                <td>{{cliente[5]}}</td>
                <td colspan="2">
                <a href="/modificacliente/{{cliente[0]}}" class="btn btn-warning btn-sm"><i
                    class="bi bi-pencil-square"></i></a>
                <a onclick="return confirm('¿Seguro de que desea eliminar este cliente?')" href="/borracliente/{{cliente[0]}}"
                        class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        {% else %}

        <div class="alert alert-warning" role="alert">
            <strong>Atención!</strong> No hay resultados para la búsqueda. <a href="/principal"
                class="alert-link">Intente de
                nuevo</a>.
        </div>
        <tr>
            {% endif %}
    </table>

</div>