<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nuevafactura.css' ) }}">
    <title>Crea la factura</title>
</head>
<body>
    <main>
        <div id="parte_superior_factura">
        <img id="imagen_factura" src="/uploads/logo.jpg" >
        <h2 id="titulo_factura">Factura Hotel Maravillas Naturales</h2>
        <h3 id="fecha_factura">Fecha:</h3>
        </div>
        <div id="detalles_factura">
            <table>
                <thead>
                    <tr>
                        <th>Id factura:</th>
                        <th>Id registro:</th>
                        <th>Cliente</th>
                        <th>Documento:</th>
                        <th>Telefono:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><select required class="form-control" name="descripItem">
                            {% for r in reg %}
                            <option value="{{r[0]}}">{{r[0]}}</option>
                            {% endfor %}
                        </select></th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3 id="titulo_hospedaje">Detalles de hospedaje</h3>
        <div id="detalles_hospedaje">
            <table>
                <thead>
                    <tr>
                        <th>Habitacion:</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>IVA</th>
                        <th>Sub total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 id="titulo_productos">Productos</h2>
        <div id="datos_factura_productos">
            <table>
                <thead>
                    <tr>
                        <th>Id producto: </th>
                        <th>Descripción: </th>
                        <th>Cantidad: </th>
                        <th>Precio unitario: </th>
                        <th>IVA: </th>
                        <th>Descuento: </th>
                        <th>Sub total: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 id="titulo_productos">Servicios</h2>
        <div id="datos_factura_servicios">
            <table>
                <thead>
                    <tr>
                        <th>Id servicio: </th>
                        <th>Descripción: </th>
                        <th>Duración: </th>
                        <th>Precio unitario: </th>
                        <th>IVA: </th>
                        <th>Descuento: </th>
                        <th>Sub total: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 id="titulo_productos">Vehiculos</h2>
        <div id="datos_factura_servicios">
            <table>
                <thead>
                    <tr>
                        <th>Id placa: </th>
                        <th>Marca: </th>
                        <th>Consumo: </th>
                        <th>Precio: </th>
                        <th>IVA: </th>
                        <th>Descuento: </th>
                        <th>Sub total: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div id="parte_inferior_factura">
        <table id="tabla_resultado">
            <thead>
                <tr>
                    <th>Total:</th>
                    <th>Selecione un metodo de pago</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>2</th>
                    <th>
                    <select style="width: 100%;" name="Metodo_de_pago" id="">
                        <option value="Efecty">Efecty</option>
                        <option value="Tarjeta de credito">Tarjeta de credito</option>
                        <option value="Efectivo" selected>Efectivo</option>
                    </select>
                    </th>
                </tr>
            </tbody>
        </table>

        
        </div>
    </main>